name: Tests

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8]
        os: [ubuntu-18.04, windows-2016]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Setup VC
        uses: ilammy/msvc-dev-cmd@v1
        if: contains(matrix.os, 'windows')
      - name: Install CMake
        if: contains(matrix.os, 'ubuntu')
        run: |
          CMAKE_VERSION=3.14.7
          curl -sSL https://github.com/Kitware/CMake/releases/download/v$CMAKE_VERSION/cmake-$CMAKE_VERSION-Linux-x86_64.tar.gz | tar xz
          sudo cp -rT cmake-$CMAKE_VERSION-Linux-x86_64 /usr/local
          rm -rf cmake-$CMAKE_VERSION-Linux-x86_64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade setuptools pip wheel
          python -m pip install poetry tox-gh-actions
      - name: Test with tox
        run: |
          tox
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: Python ${{ matrix.python }} on ${{ matrix.os }}
          fail_ci_if_error: true
